<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="card bg-dark text-light">
            <div class="card-header">
                <h3>Realizar Sua Pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/salvarpergunta" method="POST">
                    <label for="titulo"><strong>Título</strong></label>
                    <input class="form-control" id="titulo" type="text" placeholder="Digite o Titúlo" name="title" required />

                    <br><label for="descricao"><strong>Descrição</strong></label>
                    <textarea required name="description" id="descricao" class="form-control" placeholder="Digite sua pergunta aqui" ></textarea>
                    <br><label for="email"><strong>Seu e-mail para notificação de respostas</strong></label>
                    <input required type="email" class="form-control" id="email" name="email" placeholder="Digite seu E-mail"/>
                    <button class="btn btn-light mt-3">Enviar pergunta</button>
                </form>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>